.image_box {
  display: flex;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: relative;
  padding-bottom: 40px;
}

.image_box img {
  width: 50%;
  height: auto;
  object-fit: contain;
  border-right: 1px solid rgb(51, 241, 17);
}

.description {
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: absolute;
  bottom: 107px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .image_box {
    flex-direction: column;
    height: auto;
  }
  .description {
    padding-bottom: 50px;
    position: relative;
  }
  .button {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .image_box img,
  .description {
    width: 100%;
    border-radius: 5px;
  }
}
