.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10000;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.746);
}

.spinner {
  width: 50px;
  height: 50px;
  z-index: 10001;
  border-radius: 50%;
  border: 8px solid #959595;
  border-top: 8px solid #1c7c30;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinnerHH {
  width: 100px; 
  height: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
